.top-buffer { 
	margin-top:10px;
	 }
.news-deploy{
	background-color:WhiteSmoke;
	}
.news-data{
	padding-left:10px;
	}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}	

.news-metadata{
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}

.news-image{
	margin:5px;
	padding:5px;
}