.top-buffer { 
	margin-top:10px;
	 }
.news-deploy{
	background-color:WhiteSmoke;
}
.news-data{
	padding-left:10px;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.navbar-custom {
    background-color: WhiteSmoke;
}
.profile-pic{
	width:50%;
	height:auto;
	padding:0px 10px 10px 10px;
}