<!DOCTYPE html>
<html lang="es">
<head>
  <title>Sophia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/explora/articles.css" type="text/css">
  <link rel="stylesheet" href="/static/explora/navbar.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://spin.js.org/spin.min.js"></script>

  <!-- histograma -->
  <link rel="stylesheet" type="text/css" href="/static/explora/visual/histograma/histograma.css">
  <script type="text/javascript" src="/static/explora/visual/histograma/d3.v3.min.js"></script>
  <script type="text/javascript" src="/static/explora/visual/histograma/histograma.js"></script>
  <!--taggle.js-->
  <script type="text/javascript" src="/static/explora/externalJS/taggle.js"></script>
  <link rel="stylesheet" href="/static/explora/externalCSS/taggle.css" type="text/css">
  
  <!-- angularAPP -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="/static/explora/js/app.js"></script>
  <script type="text/javascript" src="/static/explora/js/controller/MainController.js"></script>

</head>

<body ng-app="explora">


	<script type="text/javascript">
		//Script called to open the modal window

		$(document).ready(function(){

			$(document).on('click','.news-data',function(){

				var art_id = $(this).data('val');

				$.ajax({
				    url: '/articles/modal_new',
				    type: 'POST',
				    data:{art_id:art_id , csrfmiddlewaretoken: '{{ csrf_token }}'},
				    success: function(data) {
				    	//Find if the element already exist
				    	if( $('#myModal').length )
				    	{
				    		$('#myModal').remove();
				    	}
				    	//In the tag <modal> then append the response from Django
				        $('#modal').append(data);
				    	//Then display the modal window
				        $('#myModal').modal('show');
				    },
				    failure: function(data) {
				        alert('Error de conexión');
				    },
				    crossDomain: true
				});
			});
		});

	</script>



	<nav id="custom-bootstrap-menu" class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Sophia Project</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	{%if profile_pic %}
	    		<li>
	    		<img src="{{profile_pic}}" class="profile-pic img-circle">
	    	    </li>
	      	{% else %}
		    	<li>
		    		<img src="http://placehold.it/50x50" class="profile-pic img-circle">
		    	</li>
		    {% endif %}
	      	<li>
	      		<a>{{user}}</a>
	      	</li>

    	  <li>
		    <p style="padding-right:10px" class = "navbar-btn">
		       <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cog"></span> Configuración</a>
		    </p>
		  </li>
		  <li>
		    <p style ="padding-right:10px" class = "navbar-btn">
		    	<a href="/logout" class="btn btn-default" role="button"><span class="glyphicon glyphicon-off"></span> Log out</a>
		    </p>
		  </li>
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="#">Noticias</a></li>
			  <li role="presentation"><a href="#">Casos Noticiosos</a></li>

			</ul>
		</div>

		<div id="main-content" class="col-md-10">

<div ng-controller="searchController">

	 <div class=row>
				<form class="navbar-form navbar-left" role="search">

				    <div class="form-group">
				        <div class="selectContainer">
				            <select class="form-control" name="medio">
				            	<option value="null"> Cualquier medio</option>
				                <option value="m1">Medio 1</option>
				                <option value="m2">Medio 2</option>
				                <option value="m3">Medio 3</option>
				                <option value="m4">Medio 4</option>
				            </select>
				        </div>
		    </div>

				    <div class="form-group">
				        <div class="selectContainer">
				            <select class="form-control" name="categoria">
				            	<option value="null"> Cualquier categoria</option>
				                <option value="c1">Categoria 1</option>
				                <option value="c2">Categoria 2</option>
				                <option value="c3">Categoria 3</option>
				                <option value="c4">Categoria 4</option>
				            </select>
				        </div>
				    </div>
            <button class="btn btn-default" ng-click="get_input_data()"> Buscar</button>
					</form>

		</div>

    <div class="row">
      <div class="col-md-4">
        <div id="should" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="and" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="not" class="input textarea"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Ver por
                <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="option in options"><a ng-click="selectedItem(option.value)">[[option.key]]</a></li>
             </ul>
         </div>
      </div>
    </div>


   <div class = "row">
       <div id="histogram_container" style="width: 100%">
           <div id="histogram"></div>
      </div>
  </div>

  <div id="articles-container">

    <div class="row" style="float: none; margin: 0 auto;">
    <div class="col-md-3"> </div> <!-- Offset-->
    
    <div class="col-md-6">
			<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
			   	 <li ng-repeat="page in range(page_init,page_end)"><a ng-click="page_number([[page]])" href="" > [[page]]</a></li>
        <li><a href="#">&raquo;</a></li>
			</ul>

     </div>
     <div class="col-md-3"></div> <!-- Offset-->
		</div>

    <div ng-repeat="d in articulos">
      <div ng-class="row|($index % 4 == 0)">

         <div class="col-md-3 news-deploy">

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="text-left"> [[d.art_date]]  </h5>
                    </div>
                    <span style="cursor:pointer">
                      <div class="col-md-6 dropdown">
                        <h5 class="category text-right"> [[d.art_category|uppercase]]</h5>
                        <div class="dropdown-content">
                            <h5 class="category text-left">POLITICA</h5>
                        </div>
                      </div>
                    </span>
                  </div>

                  <div class="row">
                      <div class="col-md-12 news-image">
                        <img class="img-responsive" alt="image-not-found" src="[[d.art_image_link]]">
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <h5>[[d.art_name_press_source]] </h5>
                    </div>
                  </div>

                  <div class="row">
                    <span style="cursor:pointer">
                      <h4 class="news-data" data-val="[[d.art_id]]"> [[d.art_title|limitTo:150]] </h4>
                    </span>
                  </div>
             </div>     
       </div>
    </div>

    <div class="row" style="float: none; margin: 0 auto;">
    <div class="col-md-3"> </div> <!-- Offset-->
    
    <div class="col-md-6">
			<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
			   	 <li ng-repeat="page in range(page_init,page_end)"><a ng-click="page_number([[page]])" href="" > [[page]]</a></li>
        <li><a href="#">&raquo;</a></li>
			</ul>

     </div>
     <div class="col-md-3"></div> <!-- Offset-->
		</div>

<div class="row">
     <div class="hid" id="tip">
          <p><strong style="color:red">Cantidad</strong>
          </p>
          <p style="color:white"><span id="value">100</span></p>
          <p><strong style="color:red">Fecha</strong>
          </p>
          <p style="color:white"><span id="date">0</span></p>
      </div>
</div>
  
  </div>

</div>

  </div>
</div>
	<!-- Here we put the rendered modal window code via AJAX-->
	<div id="modal"> </div>

</body>
</html>
