<!DOCTYPE html>
<html lang="es">
<head>
  <title>Sophia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/explora/articles.css" type="text/css">
  <link rel="stylesheet" href="/static/explora/navbar.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://spin.js.org/spin.min.js"></script>

  <!-- histograma -->
  <link rel="stylesheet" type="text/css" href="/static/explora/visual/histograma/histograma.css">
  <script type="text/javascript" src="/static/explora/visual/histograma/d3.v3.min.js"></script>
  <script type="text/javascript" src="/static/explora/visual/histograma/histograma.js"></script>
  <!--taggle.js-->
  <script type="text/javascript" src="/static/explora/externalJS/taggle.js"></script>
  <link rel="stylesheet" href="/static/explora/externalCSS/taggle.css" type="text/css">

</head>
<body>


	<script type="text/javascript">
		//Script called to open the modal window

		$(document).ready(function(){

			$(document).on('click','.news-data',function(){

				var art_id = $(this).data('val');

				$.ajax({
				    url: '/articles/modal_new',
				    type: 'POST',
				    data:{art_id:art_id , csrfmiddlewaretoken: '{{ csrf_token }}'},
				    success: function(data) {
				    	//Find if the element already exist
				    	if( $('#myModal').length )
				    	{
				    		$('#myModal').remove();
				    	}
				    	//In the tag <modal> then append the response from Django
				        $('#modal').append(data);
				    	//Then display the modal window
				        $('#myModal').modal('show');
				    },
				    failure: function(data) {
				        alert('Error de conexión');
				    },
				    crossDomain: true
				});
			});
		});

	</script>



	<nav id="custom-bootstrap-menu" class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Sophia Project</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	{%if profile_pic %}
	    		<li>
	    		<img src="{{profile_pic}}" class="profile-pic img-circle">
	    	    </li>
	      	{% else %}
		    	<li>
		    		<img src="http://placehold.it/50x50" class="profile-pic img-circle">
		    	</li>
		    {% endif %}
	      	<li>
	      		<a>{{user}}</a>
	      	</li>

    	  <li>
		    <p style="padding-right:10px" class = "navbar-btn">
		       <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cog"></span> Configuración</a>
		    </p>
		  </li>
		  <li>
		    <p style ="padding-right:10px" class = "navbar-btn">
		    	<a href="/logout" class="btn btn-default" role="button"><span class="glyphicon glyphicon-off"></span> Log out</a>
		    </p>
		  </li>
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="#">Noticias</a></li>
			  <li role="presentation"><a href="#">Casos Noticiosos</a></li>

			</ul>
		</div>

		<div id="main-content" class="col-md-10">

			<div class=row>
				<form class="navbar-form navbar-left" role="search">

				    <div class="form-group">
				        <div class="selectContainer">
				            <select class="form-control" name="medio">
				            	<option value="null"> Cualquier medio</option>
				                <option value="m1">Medio 1</option>
				                <option value="m2">Medio 2</option>
				                <option value="m3">Medio 3</option>
				                <option value="m4">Medio 4</option>
				            </select>
				        </div>
		    </div>

				    <div class="form-group">
				        <div class="selectContainer">
				            <select class="form-control" name="categoria">
				            	<option value="null"> Cualquier categoria</option>
				                <option value="c1">Categoria 1</option>
				                <option value="c2">Categoria 2</option>
				                <option value="c3">Categoria 3</option>
				                <option value="c4">Categoria 4</option>
				            </select>
				        </div>
				    </div>
            <button class="btn btn-default" onclick="javascript:get_input_data();return false;"> Buscar</button>
					</form>

		</div>

    <div class="row">
      <div class="col-md-4">
        <div id="should" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="and" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="not" class="input textarea"></div>
      </div>
        <script>

          var should_contain = new Taggle('should',{placeholder:'Concepto o frase importante en mi búsqueda'});
          var must_contain = new Taggle('and',{placeholder:'Concepto o frase fundamental en mi búsqueda'});
          var not_contain = new Taggle('not',{placeholder:'Concepto o frase que permite excluir resultados'});

          function generate_array(data_array){

            var results = [];
            if(data_array.length > 0){
              var match = "";
              for (i=0; i < data_array.length; i++){
                  if( data_array[i].indexOf(" ") == -1){
                      match = match + data_array[i] + " ";
                   }
                   else{
                     results.push({"match_phrase":data_array[i]});
                   }
                 }
                 results.push({"match":match});
             }
             else{
               return results;
             }

           return results;
          }

          function get_input_data(){

             var should_contain_group = should_contain.getTagValues();
             var must_contain_group = must_contain.getTagValues();
             var not_contain_group = not_contain.getTagValues();

             should_contain_group = generate_array(should_contain_group);
             must_contain_group = generate_array(must_contain_group);
             not_contain_group = generate_array(not_contain_group);

             var json_data = {
                  "index":"articles",
                  "fields":["art_title","art_content"],
                  "and": must_contain_group,
                  "or": should_contain_group,
                  "not_and": not_contain_group,
                }

            $.ajax({
                url: '/get_data/articles/articles_advance_search',
                type: 'POST',
                data:{ json_data: JSON.stringify(json_data),
                        csrfmiddlewaretoken: '{{ csrf_token }}'},
                          success: function(data) {
                            $('#article-list').remove();
                            $('#articles-container').append(data);
                          },
                          failure: function(data) {
                              alert('Error de conexión');
                          },
                          crossDomain: true
                      });

             console.log(JSON.stringify(json_data));
          }

        </script>

    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Ver por
                <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="granularity" data-granularity="second">Segundo</a></li>
                <li><a class="granularity" data-granularity="minute">Minuto</a></li>
                <li><a class="granularity" data-granularity="hour">Hora</a></li>
                <li><a class="granularity" data-granularity="day" >Día</a></li>
                <li><a class="granularity" data-granularity="month">Mes</a></li>
                <li><a class="granularity" data-granularity="year">Año</a></li>
              </ul>
            </div>
      </div>
    </div>


    <div class = "row">
      <div class="hid" id="tip">
          <p><strong style="color:red">Cantidad</strong>
          </p>
          <p style="color:white"><span id="value">100</span></p>
          <p><strong style="color:red">Fecha</strong>
          </p>
          <p style="color:white"><span id="date">0</span></p>
      </div>
      <div id="histogram_container" style="width: 100%">
          <div id="histogram">
          </div>
      </div>
    </div>

    <script>

    var w = document.getElementById('main-content').offsetWidth;

    //Histogram granularity by default is "day"
    var granularity = "day";

    var histogram_enddate = new Date().toISOString().slice(0,10);
    var histogram_startdate = new Date();
        histogram_startdate.setMonth(histogram_startdate.getMonth() - 2);
        histogram_startdate = histogram_startdate.toISOString().slice(0,10);

    $(document).on('click','.granularity',function(){
       granularity = $(this).data('granularity');
       $("#histogram").empty();
       draw_histogram();
    });

    function draw_histogram(){
        $.ajax({
            url: '/get_data/articles/histogram',
            type: 'POST',

            data:{ startdate: histogram_startdate,
                   enddate: histogram_enddate,
                   countby: granularity,
                   csrfmiddlewaretoken: '{{ csrf_token }}'},
                  success: function(data) {
                //  var histograma = generate_histogram(width=w,
                //                                 height=300, data_json=data);
                  },
                  failure: function(data) {
                      alert('Error de conexión');
                  },
                  crossDomain: true
              });
    }
    //draw histogram for the first time
    draw_histogram();

  	</script>

    <div id="spinner"> </div>
    <div class="row" style="float: none; margin: 0 auto;">
    <div class="col-md-3"> </div> <!-- Offset-->
    <div class="col-md-6">
				<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
			   {% for i in num_pages %}
			   	 <li><a href="/articles/{{i}}/">{{i}}</a></li>
			   {% endfor %}
			    <li><a href="#">&raquo;</a></li>
			</ul>
    </div>
    <div class="col-md-3"></div> <!-- Offset-->
		</div>

  <div id="articles-container">
    {% include "articles_list.html" %}
  </div>

  </div>
</div>
	<!-- Here we put the rendered modal window code via AJAX-->
	<div id="modal"> </div>

</body>
</html>
