<!DOCTYPE html>
<html lang="es">
<head>
  <title>Sophia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/explora/articles.css" type="text/css">
  <link rel="stylesheet" href="/static/explora/navbar.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
  <script src="http://spin.js.org/spin.min.js"></script>

  <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

  <!-- histograma -->
  <link rel="stylesheet" type="text/css" href="/static/explora/visual/histograma/histograma.css">
  <script type="text/javascript" src="/static/explora/visual/histograma/d3.v3.min.js"></script>
  <script type="text/javascript" src="/static/explora/visual/histograma/histograma.js"></script>

</head>
<body>


	<script type="text/javascript">
		//Script called to open the modal window

		$(document).ready(function(){

			$(document).on('click','.news-data',function(){

				var art_id = $(this).data('val');
        console.log(art_id);

				$.ajax({
				    url: '/articles/modal_new',
				    type: 'POST',
				    data:{art_id:art_id , csrfmiddlewaretoken: '{{ csrf_token }}'},
				    success: function(data) {
				    	//Find if the element already exist
				    	if( $('#myModal').length )
				    	{
				    		$('#myModal').remove();
				    	}
				    	//In the tag <modal> then append the response from Django
				        $('#modal').append(data);
				    	//Then display the modal window
				        $('#myModal').modal('show');
				    },
				    failure: function(data) {
				        alert('Error de conexión');
				    },
				    crossDomain: true
				});
			});
		});

	</script>



	<nav id="custom-bootstrap-menu" class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Sophia Project</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	{%if profile_pic %}
	    		<li>
	    		<img src="{{profile_pic}}" class="profile-pic img-circle">
	    	    </li>
	      	{% else %}
		    	<li>
		    		<img src="http://placehold.it/50x50" class="profile-pic img-circle">
		    	</li>
		    {% endif %}
	      	<li>
	      		<a href="#">{{user}}</a>
	      	</li>

    	  <li>
		    <p style="padding-right:10px" class = "navbar-btn">
		       <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cog"></span> Configuración</a>
		    </p>
		  </li>
		  <li>
		    <p style ="padding-right:10px" class = "navbar-btn">
		    	<a href="/logout" class="btn btn-default" role="button"><span class="glyphicon glyphicon-off"></span> Log out</a>
		    </p>
		  </li>
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="#">Noticias</a></li>
			  <li role="presentation"><a href="#">Casos Noticiosos</a></li>

			</ul>
		</div>

		<div id="main-content" class="col-md-10">
			<div class=row>
				<form class="navbar-form navbar-left" role="search">
				    <div class="form-group">
				        <input type="text" class="form-control" name="terminos" placeholder="Terminos">
				    </div>

				    <div class="form-group">
				        <div class="selectContainer">
				            <select class="form-control" name="medio">
				            	<option value="null"> Cualquier medio</option>
				                <option value="m1">Medio 1</option>
				                <option value="m2">Medio 2</option>
				                <option value="m3">Medio 3</option>
				                <option value="m4">Medio 4</option>
				            </select>
				        </div>
		    </div>

				    <div class="form-group">
				        <div class="selectContainer">
				            <select class="form-control" name="categoria">
				            	<option value="null"> Cualquier categoria</option>
				                <option value="c1">Categoria 1</option>
				                <option value="c2">Categoria 2</option>
				                <option value="c3">Categoria 3</option>
				                <option value="c4">Categoria 4</option>
				            </select>
				        </div>
				    </div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>  Buscar</button>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>  Busqueda Avanzada</button>
	  			</form>
		</div>


    <div class = "row">

      <div class="hid" id="tip">
          <p><strong style="color:red">Cantidad</strong>
          </p>
          <p style="color:white"><span id="value">100</span></p>
          <p><strong style="color:red">Fecha</strong>
          </p>
          <p style="color:white"><span id="date">0</span></p>
      </div>

      <div id="histograma" style="width: 100%">
      </div>
    </div>


    <script>
      var w = document.getElementById('main-content').offsetWidth;

      //By default loads the latest news from 6 months

      var histogram_enddate = new Date().toISOString().slice(0,10);

      var histogram_startdate = new Date();
          histogram_startdate.setMonth(histogram_startdate.getMonth() - 6);
          histogram_startdate = histogram_startdate.toISOString().slice(0,10);


      $.ajax({
      	    url: '/get_data/articles/histogram',
      	    type: 'POST',

            data:{ startdate: histogram_startdate,
                   enddate: histogram_enddate,
                   countby:'day',
                   csrfmiddlewaretoken: '{{ csrf_token }}'},
      	          success: function(data) {
                  var histograma = generate_histogram(width=w,
                                                 height=300, data_json=data);
      				    },
      				    failure: function(data) {
      				        alert('Error de conexión');
      				    },
      				    crossDomain: true
      				});

  	</script>

    <div id="spinner"> </div>
    <div class="row" style="float: none; margin: 0 auto;">
    <div class="col-md-3"> </div> <!-- Offset-->
    <div class="col-md-6">
				<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
			   {% for i in num_pages %}
			   	 <li><a href="/articles/{{i}}/">{{i}}</a></li>
			   {% endfor %}
			    <li><a href="#">&raquo;</a></li>
			</ul>
    </div>
    <div class="col-md-3"></div> <!-- Offset-->
		</div>
    <!--
    <div class="row">
      <div id='timeline-embed' style="width: 100%; height: 600px"></div>
    </div>

    <script type="text/javascript">
      timeline = new TL.Timeline('timeline-embed','static/data.json');
    </script>

    //-->

  <div id="articles-container">

    <div id="article-list">
        <div class ="row">
            {%for d in data%}
            <div class="col-md-3 news-deploy">
            <span style="cursor:pointer">
              <h5 class="category"> {{d.art_category}} </h5>
              <h5> Fuente: {{d.art_name_press_source}} </h5>
              <h5> Fecha: {{d.art_date}} </h5>
              <div class = "row">
                <div class="col-md-12 news-image">
                    <img class="img-responsive" alt="image-not-found" src="{{d.art_image_link}}">
                </div>
              </div>
              <h4 class="news-data" data-val="{{d.art_id}}"> {{d.art_title}} </h4>
            </span>
            </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
            </div>
    </div>
  </div>

  </div>
</div>

	<!-- Here we put the rendered modal window code via AJAX-->
	<div id="modal"> </div>

</body>
</html>
