<script>
  function load_items() {
    $(".metadata").fadeOut(0);
    $("#news-case-button").fadeOut(0);

    $.ajax({
      url: '/articles/user_news_case',
      type: 'GET',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
      success: function (data) {
        $(".news-case").append(data);
      },
      failure: function (data) {
        alert('Error de conexión');
      },
      crossDomain: true
    });

  }
</script>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg custom-modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#078770">
<button type="button" style="color:White" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" style="color:White" align="center">Detalles de la noticia </h4>
</div>

<div class="modal-body">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-2 news-case">

        <div class="row metadata">
          <div class="news-metadata">
            <p>Fuente: {{host}}</p>
          </div>
        </div>

        <div class="row metadata">
          <div class="news-metadata">
            <p>Fecha: {{date}}</p>
          </div>
        </div>

        <div class="row metadata">
          <div class="news-metadata">
            <p>Categoria: {{category}} </p>
          </div>
        </div>

        <div class="row metadata">
          <div class="news-metadata">
            <p>Lugar: Ubicación</p>
          </div>
        </div>

        <div class="row metadata">
          <div class="news-metadata">
            <p>Enlace: <a target="_blank" href="{{url}}">{{url|urlizetrunc:15}}</a> </p>
          </div>
        </div>

      </div>

      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
           <iframe src="{{url}}" height="500" width="1000" frameBorder="0"></iframe>
           <!-- <p> {{content}}</p> -->
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- End of Modal -->