{% extends 'base.html' %} {% block header %}
<link rel="stylesheet" href="/static/explora/newscases.css" type="text/css">
<script type="text/javascript" src="/static/explora/js/controller/newCasesController.js"></script>
{% endblock header %} {% block content %}

<div id="news-cases-list" ng-controller="newsCasesController">

    <div class=row>
        <form class="navbar-form navbar-left" role="search">
            <input type="text" class="form-control" id="datepicker1">
            <input type="text" class="form-control" id="datepicker2">
            <button class="btn btn-default" ng-click="search_cases()"> Buscar</button>
        </form>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div id="and" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="should" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="not" class="input textarea"></div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <!-- Offset-->
        <div class="col-md-4" style="text-align:center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li ng-repeat="page in range(page_init,page_end)"><a ng-click="page_number([[page]])" href=""> [[page]]</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-4"></div>
        <!-- Offset-->
    </div>

    <div ng-repeat="d in news_cases">
        <div ng-class="row|($index % 2 == 0)">

            <div class="col-md-6 cases-box">
                <div class="row">
                    <div class="col-md-4">
                        <img class="cases-img" src="[[d.img_preview]]">
                    </div>
                    <div class="col-md-8 cases-content">
                        <h5> <strong> Nombre del caso: </strong> [[d.name]] </h5>
                        <h5> <strong> Fecha de creación: </strong> [[d.creation_date]] </h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a ng-href="/showNewsCase/[[d.elastic_id]]" class="btn btn-default pull-right cases-button" role="button">Ver Caso</a>
                            <button class="btn btn-default pull-right cases-button" data-toggle="modal"
                                    data-target="#newsCaseModal" ng-click="get_case_id([[d.elastic_id]])">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="newsCaseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar Caso Noticioso</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>¿Está seguro que desea eliminar su caso noticioso?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="delete_case()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}