{% extends 'base.html' %} {% block header %}
<script type="text/javascript" src="/static/explora/js/controller/pressMediaController.js"></script>
<link rel="stylesheet" href="/static/explora/pressMedia.css" type="text/css">
<link rel="stylesheet" href="/static/explora/externalCSS/toastr.min.css" type="text/css">
<script type="text/javascript" src="/static/explora/externalJS/toastr.min.js"></script>
{% endblock header %}{% block content %}
<div id="angularController" ng-controller="pressMediaController">

    <div class=row>
        <form class="navbar-form navbar-left" role="search">

            <div class="form-group">
                <div class="selectContainer">
                    <select class="form-control" name="medio" ng-model="selectedMedium" ng-change="getMediaData(selectedMedium)" ng-options="x.media_name for x in press_source | orderBy:'media_name'">
				    </select>
                </div>
            </div>
            {% if request.user.is_staff %}
            <button class="btn btn-success" data-toggle="modal" data-target="#newsCaseModal" ng-click="clearPress();insertClicked=true;editClicked=false;"><span class=" 	glyphicon glyphicon-plus-sign"></span> Agregar Medio</button>
            <button class="btn btn-warning" data-toggle="modal" data-target="#newsCaseModal" ng-click="editMedia();insertClicked=false;editClicked=true;"><span class="glyphicon glyphicon-edit"></span>  Editar Medio</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteMediaModal" ng-click=""><span class="glyphicon glyphicon-remove"></span>  Eliminar Medio</button>
            {% endif %}
        </form>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Dueño del medio</div>
                <div class="panel-body">
                    <h5> <strong>Nombre del dueño:</strong> [[pressMedia.pre_owner]] </h5>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Medio de prensa</div>
                <div class="panel-body">
                    <h5> <strong>Nombre del medio:</strong> [[pressMedia.pre_name]] </h5>
                    <h5> <strong>Representante Legal: </strong> [[pressMedia.pre_persona_property]] </h5>
                    <h5> <strong>Fecha de Creación: </strong> [[pressMedia.pre_date]] </h5>
                    <h5> <strong>Lenguaje: </strong> [[pressMedia.pre_language]] </h5>
                    <h5> <strong>País: </strong> [[pressMedia.pre_country]] </h5>
                    <h5> <strong>Región: </strong> [[pressMedia.pre_region]] </h5>                   
                    <h5> <strong>Ciudad: </strong> [[pressMedia.pre_city]] </h5>
                    <h5> <strong>Tipo: </strong> [[pressMedia.pre_type]] </h5>
                    <h5> <strong>Origen del medio: </strong> [[pressMedia.pre_media_origin]] </h5>
                    <h5> <strong>Plataformas: </strong> [[pressMedia.pre_medial_plataforms]] </h5>
                    <h5> <strong>Sitio Web: </strong><a href="[[pressMedia.pre_url]]">[[pressMedia.pre_url]]</a> </h5>
                    <h5> <strong>Redes Sociales: </strong> [[pressMedia.pre_social_networks]] </h5>
                    <h5> <strong>Facebook: </strong><a href="[[pressMedia.pre_facebook]]">[[pressMedia.pre_facebook]]</a> </h5>
                    <h5> <strong>Twitter: </strong> [[pressMedia.pre_twitter]] </h5>
                    <h5> <strong>Youtube: </strong><a href="[[pressMedia.pre_youtube]]">[[pressMedia.pre_youtube]]</a> </h5>
                    <h5> <strong>Instagram: </strong><a href="[[pressMedia.pre_instagram]]">[[pressMedia.pre_instagram]]</a> </h5>
                    <h5> <strong>Google+: </strong><a href="[[pressMedia.pre_google]] ">[[pressMedia.pre_google]] </a>  </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div id="newsCaseModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#078770">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center; color:White">Ingresar medio de prensa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                             <form name="ownerform">
                                <h4 style="text-align:center">Dueño de prensa</h4>
                                <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre del dueño" ng-model="pressMedia.pre_owner" required>
                                </div>
                               </form>    
                            </div>
                            <div class="col-md-6">
                                <h4 style="text-align:center">Medio de prensa</h4>
                                <form name"pressmediaform">
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre del medio" ng-model="pressMedia.pre_name" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Representante legal" ng-model="pressMedia.pre_persona_property" required>
                                    </div>                                    
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Fecha de Creación"  ng-model="pressMedia.pre_date" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lenguaje"  ng-model="pressMedia.pre_language" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="País"  ng-model="pressMedia.pre_country" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Region"  ng-model="pressMedia.pre_region" required>
                                    </div>      
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ciudad"  ng-model="pressMedia.pre_city" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tipo"  ng-model="pressMedia.pre_type" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Origen del medio"  ng-model="pressMedia.pre_media_origin" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Plataformas"  ng-model="pressMedia.pre_medial_plataforms" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Sitio Web"  ng-model="pressMedia.pre_url" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Redes Sociales"  ng-model="pressMedia.pre_social_networks" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Facebook"  ng-model="pressMedia.pre_facebook" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Twitter"  ng-model="pressMedia.pre_twitter" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Youtube"  ng-model="pressMedia.pre_youtube" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Instagram"  ng-model="pressMedia.pre_instagram" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Google+"  ng-model="pressMedia.pre_google" required>
                                    </div>
                                </form>                    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!ownerform.$valid && !pressmediaform.$valid" ng-click="insertMedia()">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="row">
        <!-- Modal -->
        <div id="deleteMediaModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header" style="background-color:#078770">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center; color:White">Eliminar Medio de Prensa</h4>
            </div>
            
            <div class="modal-body">
                <h4>Está seguro que desea eliminar el medio <strong>[[pressMedia.pre_name]]</strong> ? </h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteMedia()" >Eliminar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}