{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="/static/explora/tweets.css" type="text/css">
<script type="text/javascript" src="/static/explora/js/controller/tweetsController.js"></script>
<script type="text/javascript" src="/static/explora/externalJS/filesaver.min.js"></script>
{% endblock header %}

{% block content %}

<div id="angularController" ng-controller='tweetsController'>

    <div class=row>
        <form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				        <div id="mediaContainer" class="selectContainer" data-toggle="tooltip" title="Filtrar por medio">
				            <select class="form-control" name="medio" ng-model="selectedMedium" ng-change="mediaChange(selectedMedium)" ng-options="x.media_name for x in press_source | orderBy:'media_name'">
                            </select>
				        </div>
		       </div>

				<div class="form-group">
				        <div id="mediumGroupContainer" class="selectContainer" data-toggle="tooltip" title="Filtrar por grupo de medios">
				            <select class="form-control" name="categoria" ng-model="selectedMediumGroup" ng-change="groupChange(selectedMediumGroup)" ng-options="x|limitTo:25 for x in press_media_groups">
				            </select>
				       </div>
				</div>

            <input type="text" class="form-control" id="datepicker1">
            <input type="text" class="form-control" id="datepicker2">
            <button class="btn btn-default" ng-click="get_input_data()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </form>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div id="and" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="should" class="input textarea"></div>
      </div>
      <div class="col-md-4">
        <div id="not" class="input textarea"></div>
      </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="dropdown hidden-xs">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                Ver por
                <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="option in options"><a ng-click="selectedItem(option.value)">[[option.key]]</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default hidden-xs" data-toggle="modal" data-target="#exportImage"><span class="glyphicon glyphicon-download-alt"></span>  Exportar Imagen</button>
           </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-md-12">
        <p class="text-center" style="font-size: 20px; cursor:pointer" data-toggle="collapse" data-target="#hideHistogram"><span id="collapseIcon" class="glyphicon glyphicon-chevron-down"></span></p>
      </div>
    </div>

   <div id="hideHistogram" class = "row hidden-xs collapse in">
     <div class="col-md-12">
        <div id="histogram_container" style="width:100%">
            <div id="histogram"></div>
        </div>
     </div>
  </div>

    <div id="tweetsContainer">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong>Tweets encontrados</strong> [[total_found]]
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <!-- Offset-->
        <div class="col-md-4" style="text-align:center">
            <ul class="pagination">
                <li><a href="" ng-click="page_number([[actual_page - 1]])">&laquo;</a></li>
                <li ng-repeat="page in range(page_init,page_end)"><a ng-click="page_number([[page]])" href=""> [[page]]</a></li>
                <li><a href="" ng-click="page_number([[actual_page + 1]])">&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-4"></div>
        <!-- Offset-->
    </div>

    <div class="container">
        <div class="row">
            <div infinite-scroll='loadNextItems()' infinite-scroll-disabled='busy' infinite-scroll-distance='0'>
            
                    <div ng-repeat="d in tweets">
                        <div class="row tweet-box">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5><strong>Usuario: </strong>[[ d.pub_username ]]</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5><strong>Fecha: </strong>[[ d.pub_date ]] </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><strong>Contenido: </strong>[[ d.pub_content ]]</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>Url: </strong><a target="_blank" href="[[d.pub_url | limitTo:50]]">[[d.pub_url]]</a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div style='clear: both;'></div>
        </div>
    </div>

        <div class="row top-buffer">
             <div class="col-md-6 col-md-offset-6">
                  <i id="loadIcon" class="fa fa-spinner fa-spin fa-2x fa-fw hidden" aria-hidden="true" style="text-align: center"></i>
              </div>
        </div>

  </div>

   <a id="back-to-top" href="#" class="btn btn-success btn-lg back-to-top" role="button" data-placement="left" ng-click="backToTop()" ><span class="glyphicon glyphicon-chevron-up"></span></a>
 

    <div class="row">
        <div class="hid" id="tip">
              <p><strong style="color:red">Cantidad</strong>
              </p>
              <p style="color:white"><span id="value">100</span></p>
              <p><strong style="color:red">Fecha</strong>
              </p>
              <p style="color:white"><span id="date">0</span></p>
          </div>
    </div>

    <!-- Canvas For the PNG output -->
 <canvas id="canvas" class="hidden" ></canvas>
      <!-- Modal -->
  <div id="exportImage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#078770">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align:center; color:White">Exportar Imagen</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <p><strong>Formato de salida:</strong></p>
                  <div class="radio">
                    <label><input type="radio" name="format" ng-click="exportImageFormat='PNG'">PNG</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="format" ng-click="exportImageFormat='SVG'">SVG</label>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default" ng-click="exportImage(exportImageFormat)">Exportar</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}