.top-buffer {
	margin-top:10px;
	 }

.news-deploy{
	border: 1px solid #cccccc;
	border-radius: 0px;
	background-color:WhiteSmoke;
	height: 380px;
	}

.news-data{
	padding-left:10px;
	}

.img-responsive {
  display: block;
  height: auto;
  max-width: 95%;
  max-height: 100%;
}
.news-image{
	height:150px;
}

.news-metadata{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}

.news-content{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}
.news-image{
	margin:5px;
	padding:5px;
}

.profile-pic{
	margin-top:4px;
	width:80%;
  height: auto;
}


body{
	font-family: 'Roboto', sans-serif;
}

.custom-modal-dialog{
   width: 1250px;
}
.category{
	font-weight: bold;
}

.pagination li a {
    background: #078770;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
	opacity: 0.5;
	background-color: #078770;
	border-color:#078770;
}