.top-buffer { 
	margin-top:10px;
	 }
.news-deploy{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	}
.news-data{
	padding-left:10px;
	}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}	

.news-metadata{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}

.news-content{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}
.news-image{
	margin:5px;
	padding:5px;
}

.profile-pic{
	margin-top:4px;
	width:80%; /* you can use % */
    height: auto;
}
