.top-buffer {
	margin-top:10px;
	 }

.news-deploy{
	border: 1px solid #cccccc;
	border-radius: 0px;
	background-color:WhiteSmoke;
	height: 380px;
	}

.news-data{
	padding-left:10px;
	}

.img-responsive {
  display: block;
  height: auto;
	max-width: 95%;
  max-height: 100%;
}
.news-image{
	height:150px;
}

.news-metadata{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}

.news-content{
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color:WhiteSmoke;
	margin:5px;
	padding:5px;
}
.news-image{
	margin:5px;
	padding:5px;
}

.profile-pic{
	margin-top:4px;
	width:80%;
  height: auto;
}


body{
	font-family: 'Roboto', sans-serif;
}

.custom-modal-dialog{
   width: 1250px;
}
.category{
	background-color:LightGreen;
}

.pagination li a {
    background: #078770;
    color: white;
}
