.row{
	padding-bottom:20px;
	padding-left:20px;
}

.center_div{
	padding-top:50px;
	padding-bottom:50px;
    margin: 0 auto;
    width:50%;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
}

.footer{
    background-color:rgba(24, 188, 156, 1);
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}